body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
  }

  p, b {
    margin: 0;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    gap: 20px;
  }
  
  li {
    margin-bottom: 16px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  li a {
    color: #E5E7EB;
  }

  header {
    height: 72px;
    color: white;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 0 400px;
  }

  footer {
    height: 150px;
    color: white;
    margin: 100px 400px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
  }

  .medium-text {
    font-size: 24px !important;
  }

  .large-text {
    font-size: 36px !important;
    font-style: italic;
    font-weight: lighter;
  }

  .xlarge-text {
    font-size: 48px !important;
  }

  .bold {
    font-weight: 900;
  }
  
  header, .section-1 {
    background: #240046;
  }

  .section-1 {
    color: white;
    justify-content: space-between;
    padding: 100px 400px;
  }

  .section-2 {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;
  }

  .hobbies {
    justify-content: center;
    gap: 32px;
  }

  .hobby {
    max-width: 200px;
  }

  .section-2 img {
    height: 200px;
    width: 200px;
    border: 3px solid #9D4EDD;
    border-radius: 10px;
  }

  .section-3 {
    text-align: center;
    background-color: #E5E7EB;
    flex-direction: column;
    gap: 8px;
  }

  .author {
    margin-left: auto;
  }

  .section-2, .section-3 {
    color: #2d1f37;
    padding: 100px 500px;
  }

  .hero-img {
    width: 500px;
  }

  .text-area {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
  }

  .btn {
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 32px;
    width: fit-content;
  }

  .btn-footer {
    border: 3px solid white;
  }

  footer, .btn, .btn-footer, button {
    background: #9D4EDD;
  }

  footer, .section-1, .section-2, .section-3, .text-area, .hobbies, header, ul, body {
    display: flex;
  }